<div class = "container">
<%= link_to "Back to Forum", questions_path, class: 'btn btn-default forum-btn' %>
</div>
<div class = "container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4><%= question.title %></h4>
		</div>
	  <div class="panel-body">
			<p><%= question.content %><p>
	  </div>
	  <div class="panel-footer">
	  	<p>Author: <%= question.user.user_name  %></p>
	  </div>
	</div>
</div>

 
 
 
