<% current_user.questions.each do |question| %>
	<%= link_to question_path(question) do %>
		<div class='panel panel-default post-panel'>
			<div class='panel-body post-panel-body'>
				<span class='pull-left'>
					<%= question.title %>
				</span>
				<span class ='pull-right count-badge'>
					<%= question.answers.count %>
				</span>
				<span class ='pull-right category-label'>
					<%= question.category %>
				</span>
			</div>
		</div>
	<% end %>
<% end %>