<div class="container forum-label">
	<span class="pull-right">
		Responses
	</span>
</div>
<% @questions.each do |question| %>
	<% if question.category == category %>
		<%= link_to question_path(question) do %>
			<div class='panel panel-default post-panel'>
				<div class='panel-body post-panel-body'>
					<span class='pull-left'>
						<%= question.title %>
					</span>
					<span class ='pull-right count-badge'>
						<%= question.answers.count %>
					</span>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>
