<div class="about_title">
	<h1>Meet the team</h1>
</div>

<div class="container">
	<div class="col-md-8 col-md-offset-2" id="about_ben">
		<img src="assets/ben.jpg" class="img-circle pull-left" style="display:inline">
		<br><br><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget dapibus massa. Ut tincidunt turpis quis placerat ultrices. Nam varius non arcu efficitur molestie.</p>
	</div>

	<div class="col-md-8 col-md-offset-2" id="about_jake">
		<img src="assets/jake.jpg" class="img-circle pull-right" style="display:inline">
		<br><br><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget dapibus massa. Ut tincidunt turpis quis placerat ultrices. Nam varius non arcu efficitur molestie.</p>
	</div>

	<div class="col-md-8 col-md-offset-2"  id="about_tyler">
		<img src="assets/tyler.jpg" class="img-circle pull-left" style="display:inline">
		<br><br><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget dapibus massa. Ut tincidunt turpis quis placerat ultrices. Nam varius non arcu efficitur molestie.</p>
	</div>
</div>
