<div class="about_title">
	<h1>Meet the team</h1>
</div>

<div class="container">
	<div class="col-md-8 col-md-offset-2" id="about_ben">
		<p></p>
		<img src="assets/ben.jpg" class="img-circle pull-left">
	</div>

	<div class="col-md-8 col-md-offset-2" id="about_jake">
		<p></p>
		<img src="assets/jake.jpg" class="img-circle pull-right">
	</div>

	<div class="col-md-8 col-md-offset-2"  id="about_tyler">
		<p></p>
		<img src="assets/tyler.jpg" class="img-circle pull-left">
	</div>
</div>
