<div class="about-title">
	<h1>Meet the team</h1>
</div>

<hr class="about-hr"

<div class="container">
	<div class="col-md-8 col-md-offset-2" id="about_ben">
		<div class="ben-pic">
			<img src="assets/ben.jpg" class="img-circle pull-left" style="display:inline">
		</div>
		<br><br><p>&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget dapibus massa. Ut tincidunt turpis &nbsp;&nbsp;&nbsp;quis placerat ultrices. Nam varius non arcu efficitur molestie.</p>
	</div>

	<div class="col-md-8 col-md-offset-2" id="about_jake">
		<img src="assets/jake.jpg" class="img-circle pull-right" style="display:inline">
		<br><br><p>&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget dapibus massa. Ut tincidunt turpis quis placerat ultrices. Nam varius non arcu efficitur molestie.</p>
	</div>

	<div class="col-md-8 col-md-offset-2"  id="about_tyler">
		<img src="assets/tyler.jpg" class="img-circle pull-left" style="display:inline">
		<br><br><h5>Tyler Lyman is a Ruby on Rails developer and graduate of DevPoint Labs. Tyler is passionate about coding, gaming, and combat sports. He currently resides in Provo, Utah and enjoys grappling on the weekends, as well as spending time with his wife, Madeline. Tyler is originally from Riverside, California.</h5>
	</div>
</div>

<br class="clear">
