<div class="container contact-header">
	<br><h1>Contact <br><img class="contact-logo" src="assets/AgogeFooter.png"></h1><br>
</div>

<hr class="contact-hr">

<div class="container row">

<div class= "container col-md-4 col-md-offset-0 contact-info">
	<br><br><br>
	<h3>E-Mail</h3>
		<a href="mailto:support@agoge.com?subject=Agoge Support">support@agoge.com</a>
	<h3>Phone</h3>
		<p>(951) 505-6149</p>
	<h3>Address</h3>
		<p>370 S. 300 E.
		<br>Salt Lake City
		<br>UT 84111</p>
</div>

<div class="container col-md-10 col-md-offset-4 contact-map" style="display:inline">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.047226833542!2d-111.88287799999998!3d40.76098599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f5131210a1df%3A0xd10b1c02a022a805!2s370+S+300+E%2C+Salt+Lake+City%2C+UT+84111!5e0!3m2!1sen!2sus!4v1430173370273" width="450" height="300" frameborder="10" style="border:10"></iframe>
</div>

<div class="container col-md-18 col-md-offset-0 contact-email">
	<br><br>
	<h3>Ben Lyman</h3>
		<h5>Chief Administrator</h5>
		<a href="mailto:bnlyman@gmail.com?subject=Agoge">bnlyman@gmail.com</a> 
	<h3>Jake Oldham</h3>
		<h5>Lead Designer</h5>
		<a href="mailto:jakeoldham@gmail.com?subject=Agoge">jakemoldham@gmail.com</a> 
	<h3>Tyler Lyman</h3>
		<h5>Technical Director</h5>
		<a href="mailto:tylyman@gmail.com?subject=Agoge">tylyman@gmail.com</a> 
</div>

</div>
