<% if user_signed_in? %>
  <img src="assets/agogesigninhero.jpg" class="img-responsive signedinhero" alt="Responsive image">
<% else %>
  <div class="col-md-6 signin_form" id="signin_background">
    <%= render'devise/registrations/signup_form' %>
  </div>
  <div id="signedouthero"></div>
<% end %>

<div class="home_paragraph_container">
  <span class="title_home_paragraph">
    <h3>Learn a skill</h3>
    <p>Agoge, Orinally known as the school for teaching the <br>
       brightest minds in the Roman empire! Now comes to you <br>
       in the form of the best coding day camp for children 
       to ever exhist in the world!
    </p>
  </span>
</div>

  <div class="row">
    <% @events.each do |event| %> 
      <div class="col-md-4 col-md-offset-1">
        <%= render partial: 'events/display_events_home', locals: {:event => event} %> 
      </div>
    <% end %>
  </div>


<%= render partial: 'events/events_modal'%>
