<% if user_signed_in? %>
  <img src="assets/agogesigninhero.jpg" class="img-responsive signedinhero" alt="Responsive image">
<% else %>
  <div class="col-md-6 signin_form" id="signin_background">
    <%= render'devise/registrations/signup_form' %>
  </div>
  <div id="signedouthero"></div>
<% end %>

<div class="home_paragraph title_home_paragraph">
  <h3>Learn a skill</h3>
</div>
<div class="home_paragraph">
  <p>Agoge, Orinally known as the school for teaching the <br>
     brightest minds in the Roman empire! Now comes to you <br>
     in the form of the best coding day camp for children <br>
     to ever exhist in the would!
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <% @events.each do |event| %>
      <div class="col-sm-5">
        <%= render partial: 'events/display_events', locals: {:event => event} %> 
      </div>
    <% end %>
    <div class="col-sm-1"></div>
  </div>
</div>


<%= render partial: 'events/events_modal'%>
