<h1 style="text-align: center">Learning Resources</h1>

<div class="container" id="video_wrapper">
	<iframe class="video" width="600" height="300" src="https://www.youtube.com/embed/BJEFbBxyvhI" frameborder="0" allowfullscreen></iframe>
	</div>
	
<div class="container" id="video_wrapper">
	<iframe class="video" width="600" height="300" src="https://www.youtube.com/embed/Gzj723LkRJY" frameborder="0" allowfullscreen></iframe>
</div>
