<h1 style="text-align: center">Learning Resources</h1>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div id="video_wrapper">
				<iframe class="video" src="https://www.youtube.com/embed/BJEFbBxyvhI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-4">
			<p class="pull-right">TEST</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div id="video_wrapper">
				<iframe class="video" src="https://www.youtube.com/embed/Gzj723LkRJY" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-4">
			<p class="pull-right">TEST</p>
		</div>
	</div>
</div>
