<h1 style="text-align: center">Learning Resources</h1>

<div class="container video-container">
	<div class="row">
		<div class="col-md-8">
			<div id="video_wrapper">
				<iframe class="video" src="https://www.youtube.com/embed/BJEFbBxyvhI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="pull-right">This video is sick! Holy crap, I can't handle this epic piece of film. So. Beautiful.</h5>
		</div>
	</div>
</div>

<div class="container video-container">
	<div class="row">
		<div class="col-md-8">
			<div id="video_wrapper">
				<iframe class="video" src="https://www.youtube.com/embed/Gzj723LkRJY" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="pull-right">This video is sick! Holy crap, I can't handle this epic piece of film. So. Beautiful.</h5>
		</div>
	</div>
</div>
