<h1 class="learn-info">Tutuorial Videos</h1>

<hr><br>

<div class="container video-container">
	<div class="row">
		<div class="col-md-8">
			<div id="video_wrapper">
				<iframe class="video" src="https://www.youtube.com/embed/BJEFbBxyvhI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-4 video-description">
			<h3 class="pull-right">Here's an easy to follow along video demonstrating how to set up Ruby on Rails on your own Mac machine. This tutorial also leads you through installing, git, homebrew, and RVM, which are great tools that many Rails developers use on a daily basis.</h3>
		</div>
	</div>
</div>

<div class="container video-container">
	<div class="row">
		<div class="col-md-8">
			<div id="video_wrapper">
				<iframe class="video" src="https://www.youtube.com/embed/Gzj723LkRJY" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-4 video-description">
			<h3 class="pull-right">This is one of the first demonstrations of Ruby on Rails by its creator, David Heinemeier Hansson(DHH for short). Here he shows how easy it can be to create a product quickly and efficiently. This video was recorded back in 2005.</h3>
		</div>
	</div>
</div>

<hr>

<h1 class="learn-info">Additional Links</h1>

<hr><br>

<div class="learn-info">
	<h3>Link - Description<br><br>
		Link - Description<br><br></h3>
