 <!-- Modal -->
<div class="modal" id="eventEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-edit-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="eventEditTitle">New Event</h4>
      </div>
      <div id="eventEditModalBody" class="modal-body">
 
      </div>
    </div>
  </div>
</div>