<% events.each_slice(2) do |event_group| %>
  <div class="row text-center events_body_background">
    <% event_group.each_with_index do |event, index| %>
      <div class="panel-col <% if index == 0 %>panel-col-left<% end %>">
        <%= render partial: 'events/event_panel', locals: {event: event} %>
      </div>
    <% end %>
    <% if event_group.count == 1 %>
      <div class="panel-col">
        <%= render partial: 'events/blank_event_panel' %>
      </div>
    <% end %>
  </div>
<% end %>