<div class="container">
  <!-- Button trigger modal -->
  <button type="button" class="btn event-create-btn btn-lg forum-btn" data-toggle="modal" data-target="#myModal">
    New Event
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Event</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'events_form', locals: {:event => Event.new} %>
      </div>
    </div>
  </div>
</div>
   
<div class="container">
  <% @events.each do |event| %>
  <%= render partial: 'display_events', locals: {:event => event} %> 
  <% end %>
</div>

<%= render partial: 'events_modal'%>