/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: 'Proxima Nova';    
  src: url('/assets/fonts/Proxima Nova');
}

/****** HTML ******/

html {
  position: absolute;
  height: 100%;
  width: 100%;
}

/****** Body ******/

.clear {
  clear: both;
}
.events-label {
  height: 45px;
}

body { 
  padding-bottom: 125px;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  padding-top: 70px; 
}

.main-alert {
position: absolute;
width: 100%;
}

.alert-facebook{
  color: white;
}

.events-label {
  text-align: center;
}

.buffer {
  height: 50px;
}

/**** nav *****/


.dropdown-menu {
  min-width: 121px;
  margin-right: 5px;
  color: black;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

.navbar-default .navbar-nav > li:hover > a:hover {
  background-color: #fb502e;
  color: white;
}

.navbar {
  background-color: #354052;
  height: 70px;
  border: none;
}

.nav_logo {
  margin-top: 3px;
  height: 30px;
}

.nav_text {
  margin-top: 10px;
  margin-right: 5px;
  font-size: 20px;
}

.navbar-collapse {
  border-top: none;
}

.nav_drop {
  background-color: #354052;
}

/**** Profile Page ****/

.profile-pills > li > a {
  color: #354052;
}

.profile-pills > li.active > a:focus {
  background-color: #354052; 
}
.profile-pills > li.active > a {
  background-color: #354052;
}

.profile-panel {
  background-color: #f2f2f2;
  padding-top: 15px; 
}

/**** SIGN IN *****/

.signin {
  margin-left: 135px;
  margin-bottom: 10px;
  font-size: 18px;
  height: 40px;
  width: 300px;
}
    
.rememberme {
  margin-left: 135px;
}

.signupbtn {
  margin-left: 135px;
}

.signin_button {
  background-color: #fb502e;
  font-family: Proxima Nova;
  text-align: center;
  font-size: 23px;
  letter-spacing: -1px;
  color: white;
  height: 50px;
  width: 300px;
  margin-left: 135px;
  padding-top: 8px;
}


/* FORUM */

.forum-tabs > li > a {
  color: #354052;
}

.forum-tabs > li.active > a:focus {
  background-color: #354052;
  color: white; 
}

.forum-tabs > li.active > a {
  background-color: #354052;
  color: white;
}

.forum-btn {
  margin-bottom: 10px;
  margin-top: 10px;
}

.badge {
  width: 35px;
  text-align: center;
  margin-left: -3px;
  height: auto;
}

.respond-btn {
  margin-top: 20px;
}

.answer-panel {
 margin-left: -10px;
}

.voting-box {
  display: block;
  width: 55px;
  padding-left: 10px;
  padding-right: 10px; 
}

.up-vote {
  display: block;
  height: 40px;
}

.vote-count {
  display: block;
  height: 30px;
}

.fa-chevron-up {
  color: #354052;
}

.fa-chevron-down {
  color: #354052;
}

.forum-hr {
  margin-bottom: 5px;
}

.fa-pencil {
  color: #354052;
}

.fa-trash {
  color: silver;
} 

.fa-trash:hover {
  color: tomato;
}

.edit-delete {
  margin-top: 10px;
}

.post-panel {
  margin-bottom: 0px;
  margin-top: 3px;
  padding: 0px;
}

.post-panel-body {
  color: #354052;
  padding: 8px;
  height: 37px;
}

.forum-label {
  width: 1150px;
  padding-top: 10px;
}

.category-label {
  border: 1px solid #354052;
  color: white;
  border-radius: 5px;
  padding: 2px;
  margin-right: 10px;
  font-size: 12px;
  background-color: #354052;
}

.category-label-large {
  font-size: 14px;
  padding: 5px;
  margin: 0px;
}

.count-badge {
  color: #354052;
  padding: 2px;
  width: 50px;
  text-align: center;
}

/**** Style event page *****/


.event-create-btn {
  margin-top: 90px;
  color: white;
  background-color: #354052;
}

.event-create-btn:hover {
  color: white;
  background-color: #3f4c61;
}


/**** Style for every event *****/

#map {
  width: 300px;
  height: 350px;
}

.events_body_background {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-right: 0;
  margin-bottom: -75px;
}

.events_style {
  background-color: white;
  outline: solid;
  outline-width: 1px;
  outline-color: #cdcdcd;
  margin-left: 11px;
  margin-bottom: 30px;
  height: 490px;
  width: 400px;
  font: black;
}

.events_style p {
  text-align: center;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}

.events_style p:hover {
  color: black; 
}

.events_style h3 {
  text-align: center;
  color: black;
}

.events_style a:hover {
  text-decoration: none;
}

.learn-more-button {
  background-color: #fb502e;
  font-family: Proxima Nova;
  font-size: 23px;
  letter-spacing: -1px;
  color: white;
  height: 50px;
  width: 300px;
  margin-left: 13%;
  padding-top: 8px;
    &:hover {
      background-color: #f12c05;
      color: white;
  }
}


.delete-button {
  background-color: #fb502e;
  font-family: Proxima Nova;
  font-size: 23px;
  letter-spacing: -1px;
  color: white;
  height: 50px;
  width: 300px;
  margin-left: 13%;
  padding-top: 8px;
   &:hover {
    background-color: #f12c05;
     color: white;
 }
}


.edit-button {
  background-color: #fb502e;
  font-family: Proxima Nova;
  font-size: 23px;
  letter-spacing: -1px;
  color: white;
  height: 50px;
  width: 300px;
  margin-left: 13%;
  padding-top: 8px;
  margin-top: -30px;
  position: relative;
   &:hover {
    background-color: #f12c05;
    color: white;
 }
}



#events-description {
  height: 90px;
  width: 300px;
  margin-left: 13%;
  overflow: scroll;
}

#events-home-description {
  height: 125px;
  width: 300px;
  margin-left: 13%;
  overflow: scroll;
}

.event-submit-btn {
  margin-top: 8px;
  background-color: #fb502e;
  border: none;
    &:hover {
      background-color: #f12c05;
  }
}

.date-space {
  margin-top: 8px;
}

/* FOOTER */

#footer {
  position:absolute; 
  bottom: 0; 
  clear: both; 
  height: 125px; 
  width: 100%;
  text-align: center;
  color: black;
  padding-top: 75px;
}

.footer_logo {
  height: auto;
  width:100px;
  margin-bottom: 12px;
}

.footer_hr {
  margin-top: 0;
  width: 80%;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-github-square,
.fa-google-plus-square {
  color: #354052;
}

.footer_links {
  margin-right: 11px;
}

/* ABOUT */


#about_ben {
  padding-bottom: 25px; 
  text-align: center;
}

#about_jake {
  padding-bottom: 25px;
  text-align: center;
}


#about_tyler {
  padding-bottom: 50px;
  text-align: center;
}

.about-title {
  text-align: center;
}

.about-hr {
  width:80%;
}

/* FACEBOOK TWITTER LIKE/SHARE */

.fb-like {
  margin-left: 10px;
  margin-top: 20px;
}

.tweet {
  margin-left: 108px;
  margin-top: -20px;
}

/* LEARN */

#video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px;
  height: 0;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline;
}

.video-container {
  padding-bottom: 50px;
}

/* CONTACT */

.contact-header {
  text-align: center;
}

.contact-logo {
  width: 50%;
  margin: 0 auto;
}

.contact-info {
  text-align: center;
}

.contact-map {
  margin-top: 50px;
}

.contact-email {
  text-align: center;
}

.contact-logo {
  width: 200px;
  height: auto;
  margin-right:10px;
}

.contact-header {
 text-align:center;
}

.contact-hr {
  width: 80%;
}

.map-container {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
