/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/****** HTML ******/

html {
  position: absolute;
  height: 100%;
  width: 100%;
}

/****** Body ******/

body { 
  padding-bottom: 150px;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  padding-top: 90px; 
}

.main-alert {
position: absolute;
width: 100%;
}

.alert-facebook{
  color: white;
}

.dropdown-menu {
  min-width: 141px;
}

/**** nav *****/

.navbar {
  background-color: #354052;
  height: 90px;
  border: none;
}

.nav_logo {
  margin-top: 13px;
  height: 38px;
}

.nav_text {
  font-size: 25px;
}

/**** SIGN IN *****/

.signin {
  margin-left: 135px;
  margin-bottom: 10px;
  font-size: 18px;
  height: 40px;
  width: 300px;
}
    
.rememberme {
  margin-left: 135px;
}

.signupbtn {
  margin-left: 135px;
}

.signin_button {
  background-color: #fb502e;
  font-family: Proxima Nova;
  text-align: center;
  font-size: 23px;
  letter-spacing: -1px;
  color: white;
  height: 50px;
  width: 300px;
  margin-left: 135px;
  padding-top: 8px;
}


/* FORUM */

.forum-btn {
  margin-bottom: 10px;
  margin-top: 10px;
}

.badge {
  width: 35px;
  text-align: center;
  margin-left: -3px;
  height: auto;
}

.respond-btn {
  margin-top: 20px;
}

.answer-panel {
 margin-left: -10px;
}

.voting-box {
  display: block;
  width: 55px;
  padding-left: 10px;
  padding-right: 10px; 
}

.up-vote {
  display: block;
  height: 40px;
}

.vote-count {
  display: block;
  height: 30px;
}

.fa-chevron-up {
  color: #354052;
}

.fa-chevron-down {
  color: #354052;
}

.forum-hr {
  margin-bottom: 5px;
}

.fa-pencil {
  color: #354052;
}

.fa-trash {
  color: silver;
} 

.fa-trash:hover {
  color: tomato;
}

.edit-delete {
  margin-top: 10px;
}

.post-panel {
  margin-bottom: 0px;
  margin-top: 3px;
  padding: 0px;
}

.post-panel-body {
  color: #354052;
  padding : 8px;
  height: 37px;
}

.forum-label {
  width: 1150px;
  padding-top: 10px;
}

.category-label {
  border: 1px solid #354052;
  color: white;
  border-radius: 5px;
  padding: 2px;
  margin-right: 10px;
  font-size: 12px;
  background-color: #354052;
}

.category-label-large {
  font-size: 14px;
  padding: 5px;
  margin: 0px;
}

.count-badge {
  color: #354052;
  padding: 2px;
  width: 50px;
  text-align: center;
}

/**** Style event page *****/


.event-create-btn {
  margin-top: 90px;
  color: white;
  background-color: #354052;
}

.event-create-btn:hover {
  color: white;
  background-color: #3f4c61;
}


/**** Style for every event *****/

.events_body_background {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-right: 0;
}

.events_style {
  background-image: url('event1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  outline: solid;
  outline-width: 1px;
  outline-color: #cdcdcd;
  margin-bottom: 30px;
  height: 490px;
  width: 400px;
  font: black;
}

.events_style p {
  text-align: center;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}

.events_style p:hover {
  color: black; 
}

.events_style h3 {
  padding-top: 50%;
  text-align: center;
  color: black;
}

.learn-more-button {
  background-color: #fb502e;
  font-family: Proxima Nova;
  font-size: 23px;
  letter-spacing: -1px;
  color: white;
  height: 50px;
  width: 300px;
  margin-left: 11%;
  padding-top: 8px;
}

.learn-more-button:hover {
  background-color: #f12c05;
  color: white;
}

.delete-button {
  background-color: #fb502e;
  font-family: Proxima Nova;
  font-size: 23px;
  letter-spacing: -1px;
  color: white;
  height: 50px;
  width: 300px;
  margin-left: 11%;
  padding-top: 8px;
}

.delete-button:hover {
  background-color: #f12c05;
  color: white;
}

.edit-button {
  background-color: #fb502e;
  font-family: Proxima Nova;
  font-size: 23px;
  letter-spacing: -1px;
  color: white;
  height: 50px;
  width: 300px;
  margin-left: 11%;
  padding-top: 8px;
  margin-top: -30px;
  position: relative;
}

.edit-button:hover {
  background-color: #f12c05;
  color: white;
}

.events_style a:hover {
  text-decoration: none;
}

#events-description {
  height: 90px;
  width: 300px;
  margin-left: 11%;
  overflow: scroll;
}

/* FOOTER */

#footer {
  position:absolute; 
  bottom: 0; 
  clear: both; 
  height: 150px; 
  width: 100%;
  text-align: center;
  color: black;
}

.footer_logo {
  height: auto;
  width:7%;
  margin-bottom: 12px;
}

.footer_hr {
  margin-top: 0;
  width: 80%;
}

.fa-facebook-square {
  color: #354052;
}

.fa-twitter-square {
  color: #354052;
}

.fa-github-square {
  color: #354052;
}

.fa-google-plus-square {
  color: #354052;
}

/* ABOUT */

.about_title {
  text-align: center;
}

#about_ben {
  
}

#about_jake {
 
}


#about_tyler {

}
