/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#footer {
  margin-bottom: -10px;
  margin-top: 20px;
}

/*
FORUM 
*/

.forum-btn {
	margin-bottom: 10px;
}