/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/****** Body ******/

body { 
  padding-top: 100px; 
}

.alert {
  float: left;
}

/* FORUM */

.forum-btn {
  margin-bottom: 10px;
  margin-top: 10px;
}


.voting-box {

  margin-right: -50px;
}

.up-vote {
  display: block;
  height: 40px;
}

.vote-count {
  display: block;
  height: 30px;
}

.fa-chevron-up {
  color: #354052;
}

.fa-chevron-down {
  color: #354052;
}

/**** nav *****/

#headspace {

}

.navbar {
  background-color: #354052;
  height: 100px;
  border: none;
}

.nav_logo {
  margin-top: 22px;
  height: 38px;
}

.nav_text {
  font-size: 25px;
}

/**** Style for every event *****/

.events_style:hover, .events_style a:hover {
  background-color: lightgray;
  text-decoration: none;
}

.events_style a:hover {
  color: black;
}

.events_style {
  background-image: url('event1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 450px;
  width: 400px;
}
.events_style p {
  text-align: center;
}

.events_style h3 {
  padding-top: 50%;
  text-align: center;
}

.events_style button {
  height: 50px;
  width: 300px;
  margin-left: 11%;
}

