// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#events-btn-space {
  margin-top: 10px;
}

.events_index {
  background-image: url('event1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  margin-left: 33%;
  margin-right: 0;
  outline: solid;
  outline-width: 1px;
  outline-color: #cdcdcd;
  margin-bottom: 30px;
  height: 600px;
  width: 400px;
  font: black;
}

.events_index p {
  text-align: center;
  color: black;
}

.events_index p:hover {
  color: black; 
}

.events_index h3 {
  padding-top: 50%;
  text-align: center;
  color: black;
}

.events_index button {
  height: 50px;
  width: 300px;
  margin-left: 11%;
}

.events_index a:hover {
  text-decoration: none;
}
