f// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#events-btn-space {
  margin-top: 10px;
}

.events_index {
  background-color: white;
  margin-left: 33%;
  margin-right: 0;
  margin-top: 30px;
  outline: solid;
  outline-width: 1px;
  outline-color: #cdcdcd;
  height: 600px;
  width: 400px;
  font: black;
}

.events_index p {
  text-align: center;
  color: black;
}

.events_index p:hover {
  color: black; 
}

.events_index h3 {

  text-align: center;
  color: black;
}

.events_index a:hover {
  text-decoration: none;
}
