// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // background: image-url('Agoge.png') fixed;
  // background-size: 100%;
  // margin-top: -200px;
}


#signin_form {
  float: left;
  margin-left: 75%;
}

@media screen and (max-width: 600px) {
     #signin_form {
      float: left;
      margin-left: 25%;
      margin-right:40%
  }
}
