// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/****** Static Pages Home ******/

#signedouthero {
  background: image-url('Hero.png');
  background-color: #354052;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  height: 700px;
}

.signedinhero {
  width: 100%;
}

#signin_background {
  background-image: image-url('SignUpBkg.png');
  background-repeat: no-repeat;
  margin-top: 100px;
  padding-top: 30px;
  height: 508px;
  width: 30%;
    @media screen and (max-width: 750px) {
      float: left;
      margin-left: 25%;
      width: auto;
  }
}

.signin_form {
  float: left;
  margin-left: 60%;
}


.home_paragraph {
  background-color: #fff;
  height: 350px;
  float: left;
  padding-top: 130px;
  padding-left: 20px;
    p {
      font-size: 20px;
  }
}

.title_home_paragraph {
  width: 300px;
  padding-left: 100px;
  padding-top: 112px;
    h3 {
      font-size: 30px;
  }
}




