<div class='container' id='footer'>
	<hr>
	<p>LOGO HERE</p>
	<p>Find us on: 
								 <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-2x"></i></a>
								 <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-2x"></i></a> 
								 <a href="https://github.com/bnlyman/Capstone"><i class="fa fa-github-square fa-2x"></i></a></p>
  <p class='footer_links'>About Agoge &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  												Contact Us</p> 
</div>