<div class='container' id='footer'>
	<hr>
	<img src="assets/AgogeFooter.png" id="footer_logo">
	<p>
		<a href="https://www.facebook.com/groups/429615260545505/"><i class="fa fa-facebook-square fa-2x"></i></a> &nbsp;
		<a href="https://twitter.com/Agoge_Labs"><i class="fa fa-twitter-square fa-2x"></i></a> &nbsp;
		<a href="https://github.com/bnlyman/Capstone"><i class="fa fa-github-square fa-2x"></i></a> &nbsp;
		<a href="https://plus.google.com/u/0/communities/103282052971999388449"><i class="fa fa-google-plus-square fa-2x"></i></a></p>
  <p id='footer_links'>
  	<%= link_to 'About Agoge', about_path %> 
  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  	<a href="http://www.devpointlabs.com/">DevPoint Labs</a>
  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  	<%= link_to 'Contact Us', contact_path %></p> 
</div>
