<div class='container' id='footer'>
	<hr>
	<p>LOGO HERE</p>
	<p>Find us on: <i class="fa fa-facebook-official fa-2x"></i>
								 <i class="fa fa-twitter-square fa-2x"></i> 
								 <i class="fa fa-github-square fa-2x"></i></p>
  <p class='footer_links'>About Agoge &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contact Us</p> 
</div>