  <!-- Sign In Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="signInModalTitle">Sign In</h4>
        </div>
        <div class="modal-body">
          <%= render 'layouts/sign_in_form' %>
        </div>
      </div>
    </div>
  </div>